<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225301072332-psg0hgph6a9hc9veg14tk5b9t7s7u0ak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225301072332-psg0hgph6a9hc9veg14tk5b9t7s7u0ak</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>225301072332-5ruiajuenbpjp181v0k728edb030vhpi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAudD5H62gsmVchnD0C0SY-yzVD9cQYk7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>225301072332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.TeacherApp</string>
	<key>PROJECT_ID</key>
	<string>quizapp-442a6</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-442a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225301072332:ios:2017679d622a104d14f569</string>
</dict>
</plist>